.header {
  padding-inline: 2rem;

  &--home {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(2.5rem, 6.75vw, 3.5rem);
    padding-top: max(14.5rem, 60vw);
    @media (min-width: 550px) {
      padding-top: 50vw;
    }
    padding-bottom: 8.5rem;
  }
  // 40px, 38px, 58px
  &__heading {
    margin: 0;
    display: flex;
    justify-content: center;
  }
  &__content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(2.5rem, 6.75vw, 3.125rem);
    max-width: 35.5rem;
  }

  &__content-heading {
    margin: 0;
    max-width: 220px;
    @media (min-width: 450px) {
      max-width: 320px;
    }
    // padding-inline: 1rem;
  }

  &__content {
    margin: 0;
  }

  &__button {
    margin-top: 1rem;
  }
}
