.menu {
  padding: 3.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5.5rem;

  &__introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    @media (min-width: 700px) {
      max-width: 450px;
    }
  }

  &__introduction-heading,
  &__introduction-text,
  &__heading,
  &__text {
    margin: 0;
  }

  &__list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    gap: 3.75rem;
    @media (min-width: 700px) {
      max-width: 560px;
      gap: 1.5rem;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    &:not(:first-child) {
      padding-top: 1.5rem;
    }

    @media (min-width: 700px) {
      flex-direction: row;
    }
  }

  &__image-wrapper {
    display: flex;
    justify-content: center;
    @media (min-width: 700px) {
      position: relative;
    }

    .pattern {
      display: none;
      @media (min-width: 700px) {
        display: block;
        position: absolute;
        z-index: 0;
        top: -5px;
        right: 0;
        transform: translateX(33%);
      }
    }
  }

  &__image {
    display: block;
    max-width: 100%;
    z-index: 1;
  }

  &__text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__text {
    @media (min-width: 700px) {
      max-width: 360px;
    }
  }
}
