.pattern {
  &--divide {
    display: block;
    height: 7px;
    width: 71px;
    padding-block: 1rem;
  }

  &--lines {
    display: none;
    @media (min-width: 450px) {
      display: block;
    }
    width: 160px;
    height: 76px;
    position: absolute;
    right: 0;
    bottom: 20%;
    transform: translateX(33%);
  }

  &--curve {
    display: none;
    @media (min-width: 450px) {
      display: block;
    }
    position: absolute;
    height: 320px;
  }

  // 895px

  &--top-left,
  &--top-right {
    width: min(90vw, 895px);
    z-index: -1;
  }

  &--top-left {
    right: -1.5rem;
    bottom: 0;
    transform: translateX(50%);
  }

  &--top-right {
    left: -1.5rem;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
