$tablet-breakpoint: 400px;

.section {
  display: flex;
  flex-direction: column;
  padding-inline: 1.5rem;
  padding-bottom: calc(6.25rem - 4.5rem);
  gap: 2rem;

  &:has(.section__image--enjoyable-place) {
    padding-bottom: 6.25rem;
  }

  @media (min-width: $tablet-breakpoint) {
    padding-bottom: 6.25rem;
  }

  &__image-wrapper {
    &:has(.section__image--enjoyable-place) {
      overflow: visible;
      height: calc(400px - 4.5rem);
      @media (min-width: $tablet-breakpoint) {
        height: calc(75vw / 1.592 - 4.5rem);
      }
    }
  }

  &__image {
    position: relative;
    height: 400px;
    @media (min-width: $tablet-breakpoint) {
      height: unset;
      aspect-ratio: 1.592;
      width: 75vw;
      left: 50%;
      transform: translate(-50%);
    }
    &--enjoyable-place {
      top: -4.5rem;
    }
  }

  &__text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  &__heading,
  &__text {
    margin-block: 0;
  }
}
