@use 'sass:map';

@mixin font($size, $weight: $size, $height: $size, $spacing: $size) {
  $sizes: (
    'head-xl': 5rem,
    'head-l': 3rem,
    'head-m': 1.25rem,
    'head-s': 1.0625rem,
    'body-1': 1.25rem,
    'body-2': 1rem,
  );

  $weights: (
    'head-xl': 300,
    'head-l': 700,
    'head-m': 700,
    'head-s': 600,
    'body-1': 400,
    'body-2': 400,
  );

  $heights: (
    'head-xl': 1em,
    'head-l': 1em,
    'head-m': 1.2em,
    'head-s': 1.6470588235294117em,
    'body-1': 1.5em,
    'body-2': 1.625em,
  );

  $spacings: (
    'head-xl': -1px,
    'head-l': -0.5px,
    'head-m': -0.25px,
    'head-s': 2.5px,
    'body-1': 1,
    'body-2': 1,
  );

  font-size: map.get($sizes, $size);
  font-weight: map.get($weights, $weight);
  line-height: map.get($heights, $height);
  letter-spacing: map.get($spacings, $spacing);
}

@mixin bg-i($title, $min-tablet-width: 700px, $min-desktop-width: 1000px) {
  background-image: url('/images/homepage/#{$title}-mobile.jpg');

  @media (min-width: $min-tablet-width) {
    background-image: url('/images/homepage/#{$title}-tablet.jpg');
  }

  @media (min-width: $min-desktop-width) {
    background-image: url('/images/homepage/#{$title}-desktop.jpg');
  }

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    background-image: url('/images/homepage/#{$title}-mobile@2x.jpg');

    @media (min-width: $min-tablet-width) {
      background-image: url('/images/homepage/#{$title}-tablet@2x.jpg');
    }

    @media (min-width: $min-desktop-width) {
      background-image: url('/images/homepage/#{$title}-desktop@2x.jpg');
    }
  }
}
