@mixin font($size) {
  @if $size == 'head-xl' {
    font-size: 5rem;
    font-weight: 300;
    line-height: 1em;
    letter-spacing: -1px;
  }
  @if $size == 'head-l' {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1em;
    letter-spacing: -0.5px;
  }
  @if $size == 'head-m' {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.2em;
    letter-spacing: -0.25px;
  }
  @if $size == 'head-s' {
    font-size: 1.0625rem;
    font-weight: 600;
    line-height: 1.6470588235294117em;
    letter-spacing: 2.5px;
  }
  @if $size == 'body-1' {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5em;
  }
  @if $size == 'body-2' {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625em;
  }
}

/*
Light 300
Regular 400
SemiBold 600
Bold 700
*/

@mixin bg-i($title, $min-tablet-width: 700px, $min-desktop-width: 1000px) {
  background-image: url('/images/homepage/#{$title}-mobile.jpg');

  @media (min-width: $min-tablet-width) {
    background-image: url('/images/homepage/#{$title}-tablet.jpg');
  }

  @media (min-width: $min-desktop-width) {
    background-image: url('/images/homepage/#{$title}-desktop.jpg');
  }

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    background-image: url('/images/homepage/#{$title}-mobile@2x.jpg');

    @media (min-width: $min-tablet-width) {
      background-image: url('/images/homepage/#{$title}-tablet@2x.jpg');
    }

    @media (min-width: $min-desktop-width) {
      background-image: url('/images/homepage/#{$title}-desktop@2x.jpg');
    }
  }
}
