// Primary colors
$beaver: hsl(27, 22%, 51%);
$cod-gray: hsl(0, 0%, 7%);

// Secondary colors
$mirage: hsl(234, 30%, 13%);
$ebony-clay: hsl(218, 21%, 18%);
$jet-gray: hsl(0, 0%, 20%);
$shuttle-gray: hsl(217, 14%, 42%);
