@use '../utilities/mixins' as utils;
@use '../utilities/variables' as vars;

.footer {
  background-color: vars.$cod-gray;
  color: white;

  text-transform: uppercase;
  @include utils.font('body-2');
}
