@use '../utilities/mixins' as utils;
@use '../utilities/variables' as vars;

.header {
  text-align: center;

  &--home {
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    background-color: vars.$cod-gray;
    @include utils.bg-i('hero-bg', 550px, 1000px);
  }

  &__content-wrapper {
    color: white;
  }

  &__content-heading {
    @include utils.font('head-lm');
    @media (min-width: 450px) {
      @include utils.font('head-l', $weight: 'head-xl', $spacing: 'head-m');
    }
    font-weight: 300;
  }

  &__content {
    @include utils.font('body-2', $spacing: 'body-2');
    @media (min-width: 450px) {
      @include utils.font('body-1');
    }
  }
}
