@use '../utilities/mixins' as utils;
@use '../utilities/variables' as vars;

.header {
  text-align: center;

  &--home {
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
    background-color: vars.$cod-gray;
    @include utils.bg-i('hero-bg', 700px, 1000px);
  }

  &__content-wrapper {
    color: white;
  }

  &__content-heading {
    @include utils.font('head-l');
    font-weight: 300;
  }

  &__content {
    @include utils.font('body-2');
  }
}
