.pattern {
  background-repeat: no-repeat;
  background-position: center;
  &--divide {
    background-image: url('/images/patterns/pattern-divide.svg');
  }
  &--lines {
    background-image: url('/images/patterns/pattern-lines.svg');
  }

  &--top-left {
    background-position: left;
    background-image: url('/images/patterns/pattern-curve-top-left.svg');
  }

  &--top-right {
    background-position: right;
    background-image: url('/images/patterns/pattern-curve-top-right.svg');
  }
}
