@use '../utilities/mixins' as utils;
@use '../utilities/variables' as vars;

.section {
  &__image {
    background-size: cover;
    background-repeat: no-repeat;

    &--enjoyable-place {
      @include utils.bg-i('enjoyable-place');
    }

    &--locally-sourced {
      @include utils.bg-i('locally-sourced');
    }
  }

  &__text-wrapper {
    text-align: center;
  }

  &__heading {
    @include utils.font(
      $size: 'head-l',
      $weight: 'head-l',
      $height: 'head-xl',
      $spacing: 'head-xl'
    );

    @media (min-width: 400px) {
      max-width: 350px;
    }
  }

  &__text {
    @include utils.font('body-2');

    @media (min-width: 400px) {
      @include utils.font('body-1');
      max-width: 470px;
    }
  }
}
